<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<header th:replace="fragments :: header"></header>

<!--<p th:text="${errorMsg}" style="color: red;"></p>-->

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
<!--            <input type="text" name="name" class="form-control">-->
            <input th:field="${event.name}" class="form-control">
            <p class="error" th:errors="${event.name}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Description
<!--            <input type="text" name="description" class="form-control">-->
            <input th:field="${event.description}" class="form-control">
            <p class="error" th:errors="${event.description}"></p>

        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input name="contactEmail" class="form-control">
            <p class="error" th:errors="${event.contactEmail}"></p>

        </label>
    </div>
    <div class="form-group">
        <label>Category
            <select th:field="${event.eventCategory}">
                <option th:each="eventCategory : ${categories}"
                        th:value="${eventCategory.id}"
                        th:text="${eventCategory.name}"
                ></option>
            </select>
            <p class="errors" th:errors="${event.eventCategory}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" name="Create Event" class="btn btn-success">
    </div>

</form>

</body>
</html>